:root {
    --sirina: calc(100% * (1/16));
    --visina: calc(100% * (1/16));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-div {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.child-div {
    width: var(--sirina);
    height: var(--visina);
}

.black {
    background-color: black;
}